.row
  .col-2.mt-auto.mb-auto
    .user
      .photo
        %img.avatar{:src => "#{image_url 'user'}"}
  .col-10
    .row
      .col-8
        .title
          = link_to '#' do
            @#{message.user.username}
      .col-4
        %small.text-muted
          = distance_of_time_in_words(message.created_at, Time.zone.now)
          ago
    .row
      .col-12
        %small.text-muted
          = message.content
%hr