.section.section-blog-info
  .container
    .row
      .col-md-8.ml-auto.mr-auto
        .row
          .col-md-6
            .blog-tags
              Tags:
              %span.label.label-primary= @story.tag_list.join(',')
          .col-md-6
            = link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.url}", class: 'btn btn-facebook btn-round pull-right', target: '_blank' do
              %i.fa.fa-facebook-square
            = link_to "https://twitter.com/share?text=Checkout out this Story from #{@story.user.full_name}&url=#{request.url}&hashtags=emerged,art", class: 'btn btn-twitter btn-round pull-right', target: '_blank' do
              %i.fa.fa-twitter
        %hr/
        .card.card-profile.card-plain
          .row
            .col-md-2
              .card-avatar
                = image_tag(avatar_url(user: @story.user))
                .ripple-container
            .col-md-8
              %h4.card-title= @story.user.display_name.present? ? @story.user.display_name : @story.user.full_name
              %p.description= @story.user.about_me
            .col-md-2
              #follow-button
                = render partial: 'shared/follow_button', locals: { user: @story.user }