.section.section-comments
  .container
    .row
      .col-md-8.ml-auto.mr-auto
        .media-area
          %h3.title.text-center
            = commentable.comments.count
            Comments
          - commentable.comments.each do |comment|
            .media
              .pull-left
                .avatar
                  = image_tag(avatar_url)
              .media-body
                %h5.media-heading
                  = comment.user.full_name
                  %small.text-muted
                    = time_ago_in_words(comment.created_at) + ' ago'
                %p= comment.body
                %hr
        %h3.title.text-center Post your comment
        .media.media-post
          %a.pull-left.author{:href => "#pablo"}
            .avatar
              = image_tag(avatar_url)
          .media-body
            = form_for [commentable, Comment.new], html: {class: 'hidden'} do |comment_form|
              = comment_form.text_area :body, class: 'form-control', placeholder: 'Type your comment...', cols: "80", rows: "4"
              .media-footer
                = comment_form.submit 'Reply', class: 'btn btn-primary pull-right' do
                  %i.now-ui-icons.ui-1_send