.row.mx-auto
  - creations.each do |creation|
    .col-12.col-sm-6.col-md-6.col-lg-4.pt-4
      .card.h-100
        = image_tag(creation_cover_photo_url(creation: creation), height: '220', class: 'card-img-top')
        -#%img.card-img-top{:alt => "...", :src => "#{creation_cover_photo_url(creation)}", height: '220'}/
        .card-body
          %p
            = creation.title
          %hr
          = link_to user_path(creation.user), class: 'small text-muted card-link' do
            = creation.user.username
          .pull-right
            %span.badge.badge-pill.badge-info
              = creation.categories.first&.name || 'N/A'
          %hr
          .pull-right
            %button.btn.btn-sm.btn-primary{'data-toggle' => 'modal', 'data-target' => "#creationModal-#{creation.id}"} View