- creations.each do |creation|
  .modal.fade{ id: "creationModal-#{creation.id}", tabindex: '-1', role: 'dialog', 'aria-hidden' => 'true', 'aria-labelledby' => "creationModalLabel-#{creation.id}" }
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          .row
            .col-lg-4
              .card.card-profile{ 'data-background-color' => 'black' }
                .card-avatar
                  = image_tag(avatar_url(user: creation.user), class: 'img img-raised')
                .card-body
                  %h6.card-category= creation.user.title
                  %h4.card-title= creation.user.full_name
                  %p.card-description= creation.user.about_me
                  = link_to follow_user_path(creation.user), class: 'btn btn-sm btn-primary btn-round', method: :put, remote: true do
                    = 'Follow' unless current_user.following? creation.user
                    = 'Unfollow' if current_user.following? creation.user
                  = link_to follow_user_path(creation.user), class: 'btn btn-sm btn-primary btn-round' do
                    = 'Support'
                  -#.card{ 'data-background-color' => 'blue' }
                  -#  .card-body
                  -#    %h6.category-social Owner/Creator
                  -#    %hr
                  -#    %p.card-description Headline for Creator
                  -#  .card-footer
                  -#    .author
                  -#      = image_tag(avatar_url(user: creation.user), class: 'avatar img-raised')
                  -#      %span= creation.user.full_name
                  -#    .stats.stats-right
                  -#      = link_to follow_user_path(creation.user), class: 'btn-sm btn-primary btn-round', method: :put, remote: true do
                  -#        = 'Follow' unless current_user.following? creation.user
                  -#        = 'Unfollow' if current_user.following? creation.user
                  -#      %a.btn-sm.btn-success.btn-round
                  -#        Support
              .card
                .card-body
                  %h6.category-social.text-primary Some Information
                  %hr
                  %p= creation.title
                  %p= creation.description
              .card
                .card-body
                  %h6.category-social.text-danger Some Facts
                  %hr
                  %p
                    Category:
                    = creation.category&.name
                  %p
                    Tags:
                    = creation.tag_list.join(', ')
                  %p
                    Viewed:
                    = creation.number_of_views
                    Times
                .card-footer
                  .stats.stats-right
                    %i.now-ui-icons.ui-2_favourite-28
                    %span.likes-count= creation.get_upvotes.size
                    %i.now-ui-icons.ui-2_chat-round
                    %span.section-comments= creation.comments.size
              .text-center
                - if current_user.liked? creation
                  = link_to unlike_creation_path(creation), class: 'btn btn-lg btn-primary btn-icon btn-round', method: :put, remote: true do
                    %i.now-ui-icons.ui-2_like
                - else
                  = link_to like_creation_path(creation), class: 'btn btn-lg btn-primary btn-icon btn-round', method: :put, remote: true do
                    %i.now-ui-icons.ui-2_like
            .col-lg-8
              = raw(creation.content)
          .row
            .col-lg-12
              = render partial: 'comments/comment', locals: { commentable: creation }
        .modal-footer