.content
  .col-md-12.mx-auto
    .card.active
      .card-header.text-center
        %h3.card-title
          Your Creations
        %h3.description
          Showcase your art.
        = link_to new_creation_path, class: "btn btn-primary btn-round" do
          %i.now-ui-icons.ui-1_simple-add
          New Creation
    .row.mx-auto
      - @creations.each do |creation|
        .col-12.col-sm-6.col-md-6.col-lg-4.pt-4
          .card.h-100
            = image_tag(creation_cover_photo_url(creation: creation), height: '220', class: 'card-img-top')
            .card-body
              %p
                = creation.title
              %hr
              = link_to user_path(creation.user), class: 'small text-muted card-link' do
                = creation.user.username
              .pull-right
                %span.badge.badge-pill.badge-info
                  = creation.categories.first&.name || 'N/A'
              %hr
              .pull-right
                = link_to creation_path(creation), class: 'btn btn-sm btn-primary', target: '_blank' do
                  View
                = link_to edit_creation_path(creation), class: 'btn btn-warning btn-sm btn-icon' do
                  %i.now-ui-icons.ui-2_settings-90
                = link_to creation_path(creation), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm btn-icon' do
                  %i.now-ui-icons.ui-1_simple-remove