.content
  .row
    .col-md-4
      .card
        .card-header
          %h5.title
            Stats
          %hr
    .col-md-8
      .card
        .card-header
          %h5.title
            Overview
            %small.text-muted
              You have #{@creations.count} Creations.
          %hr
      .row
        - @creations.each do |creation|
          .col-md-6
            .card
              = image_tag 'test', class: 'card-img-top'
              .card-body
                %h5.card-title
                  = creation.title
                %p.card-text.card-subtitle
                  = creation.description
                %hr
                = link_to user_path(creation.user), class: 'small text-muted card-link' do
                  = creation.user.username
                .pull-right
                  %span.badge.badge-pill.badge-info
                    = creation.categories.first&.name || 'N/A'
                %hr
                .pull-right
                  = button_tag edit_creation_path(creation), class: 'btn btn-warning btn-md btn-icon' do
                    %i.now-ui-icons.ui-2_settings-90
                  = button_tag creation_path(creation), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-md btn-icon' do
                    %i.now-ui-icons.ui-1_simple-remove
