.row.mt-5.mx-auto
  .col-lg-4
    .card.card-profile
      .card-avatar
        = image_tag(avatar_url(user: @creation.user), class: 'img img-raised')
      .card-body
        %h6.card-category= @creation.user.title
        %h4.card-title= @creation.user.display_name.present? ? @creation.user.display_name : @creation.user.full_name
        %p.card-description= @creation.user.about_me
        = render partial: 'shared/follow_button', locals: {user: @creation.user}
        = link_to follow_user_path(@creation.user), class: 'btn btn-sm btn-primary btn-round' do
          = 'Support'
    .card
      .card-header
        .card-title
          %h5.text-center Some Information
          %hr
      .card-body
        %p= @creation.title
        %p= @creation.description
    .card
      .card-header
        .card-title
          %h5.text-center Some Facts
          %hr
      .card-body
        %p
          Category:
          = @creation.category&.name
        %p
          Tags:
          = @creation.tag_list.join(', ')
        %p
          Viewed:
          = @creation.number_of_views
          Times
        %p
          Liked:
          %i.now-ui-icons.ui-2_favourite-28
          = @creation.get_upvotes.size
    .card
      .card-header
        .card-title
          %h5.text-center Do you like what you see?
          %hr
      .card-body
        - if current_user.liked? @creation
          = link_to unlike_creation_path(@creation), class: 'btn btn-lg btn-primary btn-icon btn-round', method: :put, remote: true do
            %i.now-ui-icons.ui-2_like
        - else
          = link_to like_creation_path(@creation), class: 'btn btn-lg btn-primary btn-icon btn-round', method: :put, remote: true do
            %i.now-ui-icons.ui-2_like
  .col-lg-8
    = raw(@creation.content)
.row
  .col-md-10.mx-auto
    .card
      .card-body
        = render partial: 'comments/comment', locals: { commentable: @creation }
