.row.mt-5.mx-auto
  .col-lg-4
    .card.card-profile
      .card-avatar
        = image_tag(avatar_url(user: @creation.user), class: 'img img-raised')
      .card-body
        %h6.card-category= @creation.user.title
        %h4.card-title= @creation.user.display_name.present? ? @creation.user.display_name : @creation.user.full_name
        %p.card-description= @creation.user.about_me
        = link_to 'Unfollow', unfollow_user_path(@creation.user), class: "unfollow-button btn btn-sm btn-primary btn-round #{unfollow_button_class(user: @creation.user)}", method: :put, remote: true
        = link_to 'Follow', follow_user_path(@creation.user), class: "follow-button btn btn-sm btn-primary btn-round #{follow_button_class(user: @creation.user)}", method: :put, remote: true
        -#= link_to follow_user_path(@creation.user), class: 'btn btn-sm btn-primary btn-round' do
        -#  = 'Support'
    .card
      .card-header
        .card-title
          %h5.text-center Some Information
          %hr
      .card-body
        %p= @creation.title
        %p= @creation.description
    .card
      .card-header
        .card-title
          %h5.text-center Some Facts
          %hr
      .card-body
        %p
          Category:
          = @creation.category&.name
        %p
          Viewed:
          = @creation.number_of_views
          Times
        %p
          Liked:
          %i.now-ui-icons.ui-2_favourite-28
          = @creation.get_upvotes.size
    .card
      .card-header
        .card-title
          %h5.text-center Do you like what you see?
          %hr
      .card-body
        = link_to unlike_creation_path(@creation), class: "creation-unlike btn btn-primary btn-round #{unlike_class(resource: @creation)}", method: :put, remote: true do
          Unlike
        = link_to like_creation_path(@creation), class: "creation-like btn btn-primary btn-round #{like_class(resource: @creation)}", method: :put, remote: true do
          Like
  .col-lg-8
    = raw(@creation.content)
.row
  .col-md-10.mx-auto
    .card
      .card-body
        = render partial: 'comments/comment', locals: { commentable: @creation }
