.login-page
  .page-header{"filter-color" => "orange"}
    .page-header-image{:style => "background-image:url(../assets/images/login.jpg)"}
    .content-center
      .container
        .col-md-5.content-center
          .card.card-login.card-plain
            %h4.card-title.text-center Sign In
            = form_for(resource, as: resource_name, url: session_path(resource_name), class: 'form') do |f|
              .input-group
                %span.input-group-addon
                  %i{class: 'fa fa-envelope-o'}
                = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail address', type: 'email'
              .input-group
                %span.input-group-addon
                  %i{class: 'fa fa-unlock'}
                = f.password_field :password, autocomplete: false, class: 'form-control', placeholder: 'Password', type: 'password'
              - if devise_mapping.rememberable?
                .input-group
                  .form-check
                    %label{class: 'form-check-label'}
                      = f.check_box :remember_me, class: 'form-check-input', type: 'checkbox'
                      %span{class: 'form-check-sign'}
                      Remember Me?
              .card-footer.text-center
                = f.submit 'Log In', class: 'btn btn-primary btn-round btn-lg btn-block'
              .pull-left
                %h6
                  = link_to 'Create Account', new_user_registration_path, class: 'link footer-link'
              .pull-right
                %h6
                  = link_to 'Need Help?', '#', class: 'link footer-link'
                  / TODO: bring on help page later on
                  / TODO: add options to login from social media