.row
  -# Main Information
  .col-md-11.mx-auto
    .card
      .card-header
        .card-title
          %h5 Information
          %hr
      .card-body
        .col-md-12
          .fileinput.fileinput-new.text-center{"data-provides" => "fileinput"}
            .fileinput-new.thumbnail
              = image_tag(reward_cover_photo_url(reward: @reward))
            .fileinput-preview.fileinput-exists.thumbnail
            .upload-button
              %span.btn.btn-rose.btn-round.btn-file
                %span.fileinput-new Select Cover Image
                %span.fileinput-exists Change
                = form.file_field :cover_photo, type: "file"
              %a.btn.btn-danger.btn-round.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"}
                %i.fa.fa-times
                Remove
        .col-md-12
          .form-group
            %label Title
            = form.text_field :title, class: "form-control", placeholder: "Title of Reward"
        .col-md-12
          .form-group
            %label Description
            = form.text_area :description, class: "form-control", placeholder: "Short description of your reward...", cols: "80", rows: "4"
  -# Cost & Taxes
  .col-md-11.mx-auto
    .card
      .card-header
        .card-title
          %h5 Costs & Taxes
          %hr
      .card-body
        .col-md-12
          .form-group
            %label Price
            = form.number_field :price, value: number_with_precision(@reward.price, :precision => 2, :delimiter => '.'), class: "form-control", placeholder: "Price of the Reward", type: 'number', step: 0.01
        .col-md-12
          .form-group
            %label Shipping Cost
            = form.number_field :shipping_cost, value: number_with_precision(@reward.shipping_cost, :precision => 2, :delimiter => '.'), class: "form-control", placeholder: "Shipping cost for the Reward", step: 0.01
        .col-md-12
          %p.category Charge taxes?
          = form.check_box :charge_taxes?, class: 'bootstrap-switch', 'data-on-label' => 'YES', 'data-off-label' => 'NO'
  -# images
  .col-md-11.mx-auto
    .card
      .card-header
        .card-title
          %h5 Images
          %hr
          .upload-button
            %span.btn.btn-rose.btn-round.btn-file
              %span.fileinput-new Add images
              = form.file_field :images, type: 'file', multiple: true
          %hr
      .card-body
        .col-md-12
          - @reward.images.each do |image|
            .fileinput.fileinput-new.text-center{"data-provides" => "fileinput"}
              .fileinput-new.thumbnail
                = image_tag url_for(image)
                = form.fields_for :images_attachments, image do |fields|
                  .form-check
                    %label.form-check-label
                      = fields.check_box :_destroy, class: 'form-check-input', type: 'checkbox'
                      %span.form-check-sign
                      Remove?
  -# Settings/Preferences
  .col-md-11.mx-auto
    .card
      .card-header
        .card-title
          %h5 Settings & Preferences
          %hr
      .card-body
        .col-md-12
          %p.category Visible?
          = form.check_box :visible?, class: 'bootstrap-switch', 'data-on-label' => 'YES', 'data-off-label' => 'NO'
        .col-md-12
          .form-group
            %label Type
            = form.select :reward_type, ['Digital', 'Physical'], {include_blank: 'Choose...'}, {:class => 'selectpicker', 'data-style' => 'btn btn-round'}
        .col-md-12
          .form-group
            %label Category
            = form.collection_select :category_id, Category.all, :id, :name, {include_blank: 'Choose...'}, {:class => 'selectpicker', 'data-style' => 'btn btn-round'}
  .col-md-11.mx-auto.pull-right
    = form.submit "Save", class: "btn btn-fill btn-primary", type: 'submit', role: 'button'