.input-group.no-border.form-control-lg
  %span.input-group-addon
    %i.now-ui-icons.users_single-02
  = register_form.text_field :first_name, type: 'text', placeholder: 'First Name', class: 'form-control'
.input-group.no-border.form-control-lg
  %span.input-group-addon
    %i.now-ui-icons.users_single-02
  = register_form.text_field :last_name, type: 'text', placeholder: 'Last Name', class: 'form-control'
.input-group.no-border.form-control-lg
  %span.input-group-addon
    %i.now-ui-icons.users_circle-08
  = register_form.text_field :email, type: 'email', placeholder: 'you@example.com', class: 'form-control'
.input-group.no-border.form-control-lg
  %span.input-group-addon
    %i.now-ui-icons.text_caps-small
  = register_form.password_field :password, type: 'password', placeholder: 'Password', class: 'form-control'
.form-check
  %label.form-check-label
    %input.form-check-input{:type => "checkbox"}/
    %span.form-check-sign
    I agree to the
    = succeed "." do
      %a{:href => "#something"} terms and conditions
= register_form.submit "Get Started", class: 'btn btn-primary btn-round btn-lg btn-block'