.col-md-4
  .card.card-user
    .image
      %img{:alt => "...", :src => "#{cover_photo_url}"}
    .card-body
      .author
        %img.avatar.border-gray{:alt => "...", :src => "#{avatar_url}"}
        %h5.title
          = @user.full_name
        %p.description
          = @user.username
      %p.description.text-center
        = @user.about_me
    %hr
    .button-container
      %button.btn.btn-neutral.btn-icon.btn-round.btn-lg{:href => "#"}
        %i.fab.fa-facebook-square
      %button.btn.btn-neutral.btn-icon.btn-round.btn-lg{:href => "#"}
        %i.fab.fa-twitter
      %button.btn.btn-neutral.btn-icon.btn-round.btn-lg{:href => "#"}
        %i.fab.fa-google-plus-square