.wrapper
  .page-header.page-header-small{"filter-color" => "orange"}
    .page-header-image{'data-parallax' => 'true', style: "background-image: url(#{user_cover_photo_url(user: @user)});"}
    .content-center
      .photo-container
        %img{:alt => "", :src => "#{avatar_url(user: @user)}"}/
      %h3.title= @user.display_name.present? ? @user.display_name : @user.full_name
      %p.category= @user.title
      %p.category= @user.city
      .content
        .social-description
          %h5= @user.follow_count
          %p Followers
        .social-description
          %h5= @user.number_of_visitors
          %p Visited
        .social-description
          %h5= @user.creations.count + @user.stories.count
          %p Content
  .section
    .container
      .button-container
        %a.btn.btn-primary.btn-round.btn-md{:href => "#button"} Follow
        %a.btn.btn-icon.btn-primary{:href => "#", :rel => "tooltip", :title => "Drop me a line."}
          %i.fa.fa-envelope
        %a.btn.btn-icon.btn-round.btn-twitter{:href => "#", :rel => "tooltip", :title => "Check me out on Twitter."}
          %i.fa.fa-twitter
        %a.btn.btn-icon.btn-round.btn-youtube{:href => "#", :rel => "tooltip", :title => "Check me out on Youtube."}
          %i.fa.fa-youtube
        %a.btn.btn-icon.btn-round.btn-behance{:href => "#", :rel => "tooltip", :title => "Check me out on Behance."}
          %i.fa.fa-behance
        %a.btn.btn-icon.btn-round.btn-pinterest{:href => "#", :rel => "tooltip", :title => "Check me out on Pinterest."}
          %i.fa.fa-pinterest
        %a.btn.btn-icon.btn-round.btn-dribbble{:href => "#", :rel => "tooltip", :title => "Check me out on Dribble."}
          %i.fa.fa-dribbble
        %a.btn.btn-icon.btn-round.btn-facebook{:href => "#", :rel => "tooltip", :title => "Check me out on Facebook."}
          %i.fa.fa-facebook
      %h3.title About me
      %h5.description.text-center= @user.about_me
      %hr
      .row
        .col-md-12
          %h4.title.text-center My content
          .nav-align-center
            %ul.nav.nav-pills.nav-pills-primary.nav-pills-just-icons{:role => "tablist"}
              %li.nav-item
                %a.nav-link.active{"data-toggle" => "tab", :href => "#creations", :role => "tablist"}
                  %i.now-ui-icons.design_image
              %li.nav-item
                %a.nav-link{"data-toggle" => "tab", :href => "#stories", :role => "tablist"}
                  %i.now-ui-icons.location_world
            / Tab panes
          .tab-content.gallery
            #creations.tab-pane.active{:role => "tabpanel"}
              -#= render partial: 'creations/popup_creations', locals: { creations: @user.creations }
              = render partial: 'creations/creations', locals: { creations: @user.creations }
            #stories.tab-pane{:role => "tabpanel"}
              = render partial: 'stories/stories', locals: { stories: @user.stories }