.wrapper
  .page-header.page-header-small
    .page-header-image{"data-parallax" => "true", :style => "background-image: url('#{story_cover_photo_url(@story)}') ;"}
    .content-center
      .row
        .col-md-8.ml-auto.mr-auto.text-center
          %h2.title
            = @story.title
          %h4
            Something more about this Story.
  .section
    .container
      .row
        .col-md-12
          .button-container
            %a.btn.btn-primary.btn-round.btn-lg{:href => "#share"}
              %i.now-ui-icons.ui-2_like
              Upvote Story
            %a.btn.btn-icon.btn-lg.btn-twitter.btn-round{:href => "#share"}
              %i.fa.fa-twitter
            %a.btn.btn-icon.btn-lg.btn-facebook.btn-round{:href => "#share"}
              %i.fa.fa-facebook-square
            %a.btn.btn-icon.btn-lg.btn-google.btn-round{:href => "#share"}
              %i.fa.fa-google
    .section
      .container
        .row
          .col-md-8.ml-auto.mr-auto
            = raw @story.content

    .section.section-blog-info
      .container
        .row
          .col-md-8.ml-auto.mr-auto
            .row
              .col-md-6
                .blog-tags
                  Tags:
                  %span.label.label-primary Photography
                  %span.label.label-primary Stories
                  %span.label.label-primary Castle
              .col-md-6
                %a.btn.btn-google.btn-round.pull-right{:href => "#pablo"}
                  %i.fa.fa-google
                  232
                %a.btn.btn-twitter.btn-round.pull-right{:href => "#pablo"}
                  %i.fa.fa-twitter
                  910
                %a.btn.btn-facebook.btn-round.pull-right{:href => "#pablo"}
                  %i.fa.fa-facebook-square
                  872
            %hr/
            .card.card-profile.card-plain
              .row
                .col-md-2
                  .card-avatar
                    %a{:href => "#pablo"}
                      -#%img.img.img-raised{:src => "../assets/img/mike.jpg"}/
                    .ripple-container
                .col-md-8
                  %h4.card-title= @story.user.full_name
                  %p.description= @story.user.about_me
                .col-md-2
                  %button.btn.btn-default.pull-right.btn-round{:type => "button"} Follow
    .section.section-comments
      .container
        .row
          .col-md-8.ml-auto.mr-auto
            .media-area
              %h3.title.text-center 3 Comments
              .media
                %a.pull-left{:href => "#pablo"}
                  .avatar
                    -#%img.media-object.img-raised{:alt => "...", :src => "../assets/img/james.jpg"}/
                .media-body
                  %h5.media-heading
                    Tina Andrew
                    %small.text-muted · 7 minutes ago
                  %p Chance too good. God level bars. I'm so proud of @LifeOfDesiigner #1 song in the country. Panda! Don't be scared of the truth because we need to restart the human foundation in truth I stand with the most humility. We are so blessed!
                  %p All praises and blessings to the families of people who never gave up on dreams. Don't forget, You're Awesome!
                  .media-footer
                    %a.btn.btn-primary.btn-neutral.pull-right{:href => "#pablo", :rel => "tooltip", :title => "Reply to Comment"}
                      %i.now-ui-icons.ui-1_send
                      Reply
                    %a.btn.btn-danger.btn-neutral.pull-right{:href => "#pablo"}
                      %i.now-ui-icons.ui-2_favourite-28
                      243
              .media
                %a.pull-left{:href => "#pablo"}
                  .avatar
                    -#%img.media-object.img-raised{:alt => "Tim Picture", :src => "../assets/img/michael.jpg"}/
                .media-body
                  %h5.media-heading
                    John Camber
                    %small.text-muted · Yesterday
                  %p Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.
                  %p Don't forget, You're Awesome!
                  .media-footer
                    %a.btn.btn-primary.btn-neutral.pull-right{:href => "#pablo", :rel => "tooltip", :title => "Reply to Comment"}
                      %i.now-ui-icons.ui-1_send
                      Reply
                    %a.btn.btn-danger.btn-neutral.pull-right{:href => "#pablo"}
                      %i.now-ui-icons.ui-2_favourite-28
                      25
                  .media
                    %a.pull-left{:href => "#pablo"}
                      .avatar
                        -#%img.media-object.img-raised{:alt => "64x64", :src => "../assets/img/julie.jpg"}/
                    .media-body
                      %h5.media-heading
                        Tina Andrew
                        %small.text-muted · 2 Days Ago
                      %p Hello guys, nice to have you on the platform! There will be a lot of great stuff coming soon. We will keep you posted for the latest news.
                      %p Don't forget, You're Awesome!
                      .media-footer
                        %a.btn.btn-primary.btn-neutral.pull-right{"data-original-title" => "Reply to Comment", :href => "#pablo", :rel => "tooltip", :title => ""}
                          %i.now-ui-icons.ui-1_send
                          Reply
                        %a.btn.btn-danger.btn-neutral.pull-right{:href => "#pablo"}
                          %i.now-ui-icons.ui-2_favourite-28
                          2
            %h3.title.text-center Post your comment
            .media.media-post
              %a.pull-left.author{:href => "#pablo"}
                .avatar
                  -#%img.media-object.img-raised{:alt => "64x64", :src => "../assets/img/olivia.jpg"}/
              .media-body
                %textarea.form-control{:placeholder => "Write a nice reply or go home...", :rows => "4"}
                .media-footer
                  %a.btn.btn-primary.pull-right{:href => "#pablo"}
                    %i.now-ui-icons.ui-1_send
                    Reply