.sidebar{'data-color' => 'black'}
  .logo
    %a.simple-text.logo-mini{:href => "#"}
      EM
    %a.simple-text.logo-normal{:href => "#"}
      Emerged
    .navbar-minimize
      %button#minimizeSidebar.btn.btn-simple.btn-icon.btn-neutral.btn-round
        %i.now-ui-icons.text_align-center.visible-on-sidebar-regular
        %i.now-ui-icons.design_bullet-list-67.visible-on-sidebar-mini
  .sidebar-wrapper
    .user
      .photo
        %img{:src => "#{image_url 'user'}"}
      .info
        %a.collapsed{"data-toggle" => "collapse", :href => "#collapseMenu"}
          %span
            = current_user.full_name
            %b.caret
        .clearfix
        #collapseMenu.collapse
          %ul.nav
            %li
            %li
              = link_to edit_user_path(current_user), class: 'edit_user_link' do
                %span.sidebar-mini-icon EP
                %span.sidebar-normal Profile
            %li
              = link_to edit_setting_path(current_user), class: 'edit_settings_link' do
                %span.sidebar-mini-icon S
                %span.sidebar-normal Settings
    %ul.nav
      %li
        = link_to creations_path, class: 'creations_path_link' do
          %i.now-ui-icons.files_box
          %p Creations
    %ul.nav
      %li
        = link_to stories_path, class: 'stories_path_link' do
          %i.now-ui-icons.files_paper
          %p Stories
    %ul.nav
      %li
        = link_to rewards_path, class: 'rewards_path_link' do
          %i.now-ui-icons.ui-2_favourite-28
          %p Rewards