!!!
%html
  %head
    %title
      Emerged
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body{class: 'profile-page'}
    .wrapper
      .page-header.page-header-small{'filter-color' => 'orange'}
        .page-header-image{'data-parallax' => 'true'}
        .content-center
          .photo-container
            = image_tag 'julie'
          %h3{class: 'title'}
            Artist Name
          %p{class: 'category'}
            Profession
          .content
            .social-description
              %h2
                26
              %p
                Appreciations
            .social-description
              %h2
                26
              %p
                Followers
            .social-description
              %h2
                26
              %p
                Donators
    .section
      .container
        .button-container
          %a{href: '#button', class: "btn btn-primary btn-round btn-lg"}
            Follow
          %a{href: '#button', class: 'btn btn-primary btn-round btn-lg btn-icon', rel: 'tooltip', title: 'Follow me on Twitter'}
            %i{class: 'fa fa-twitter'}
          %a{href: '#button', class: 'btn btn-primary btn-round btn-lg btn-icon', rel: 'tooltip', title: 'Follow me on Instagram'}
            %i{class: 'fa fa-instagram'}
          %a{href: '#button', class: 'btn btn-primary btn-round btn-lg btn-icon', rel: 'tooltip', title: 'Follow me on Soundcloud'}
            %i{class: 'fa fa-soundcloud'}
          %a{href: '#button', class: 'btn btn-primary btn-round btn-lg btn-icon', rel: 'tooltip', title: 'Follow me on Facebook'}
            %i{class: 'fa fa-facebook'}
          %a{href: '#button', class: 'btn btn-primary btn-round btn-lg btn-icon', rel: 'tooltip', title: 'Follow me on Behance'}
            %i{class: 'fa fa-behance'}
          %a{href: '#button', class: 'btn btn-primary btn-round btn-lg btn-icon', rel: 'tooltip', title: 'Follow me on Youtube'}
            %i{class: 'fa fa-youtube'}
        %h3{class: 'title'}
          About Me
        %h5{class: 'description text-center'}
          Some Description text goes here. An edit button should appear if logged in as Artist
      .row
        .col-md-12
          %h4{class: 'title text-center'}
            Artist Zone
            .nav-align-center
              %ul{class: 'nav nav-pills nav-pills-primary', role: 'tablist'}
                %li{class: 'nav-item'}
                  %a{class:'nav-link active', 'data-toggle' => 'tab', href: 'stories'}
                    Stories
                %li{class: 'nav-item'}
                  %a{class:'nav-link', 'data-toggle' => 'tab', href: 'creations'}
                    Creations
                %li{class: 'nav-item'}
                  %a{class:'nav-link', 'data-toggle' => 'tab', href: 'projects'}
                    Projects
                  %li{class: 'nav-item'}
                    %a{class:'nav-link', 'data-toggle' => 'tab', href: 'curations'}
                      Curations
    = yield
